# Исключаем файлы и директории, которые не требуются в контейнере
node_modules
build
.dockerignore
.DS_Store
npm-debug.log
yarn-error.log

# Исключаем скрытые файлы и системные файлы
.*

# Исключаем конфигурационные файлы IDE
.idea
.vscode

# Исключаем файлы автоматической генерации
/dist
/coverage